{
    "DATABASE_CONFIG" :{
        "type": "postgres", 
        "host": "hostname",
        "port": 5432,
        "user": "postgres",
        "password": "abcd",
        "database": "test"
    },

    "files_dir" :'C:\\Users\\myfolder or mycsv.csv or myxlsx.xlsx',
    "table":'test',
    "delimiter":';'

}